body{
    background-color: #414142;
    cursor: url('../img/cursor.png'),auto;
    width: 100vw; 
    font-family: 'Agdasima', sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    max-width: 98%;
    margin-left: 1%;
}

@media (max-width: 1585px) {
  body {
    letter-spacing: 2px;
  }
}

a:hover{
  cursor: url('../img/cursor.png'),auto;
}

.banner {
    background-color: #414142;
    max-width: 90%;
}

img {
    width: 95%;
    height: 20vh;
}

h2{
  font-family: 'Broadway', sans-serif;
}

hr{
  color: #000;
}


.logo {
    display: inline;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333 ;
    padding-left: 30%;
}

.nav-link{
  background-color: #414142;
  color: #fff;
}

.nav-link:hover{
  background-color: #F0D755;
}

.origin{
  height: auto;
  padding: 10px;
}

.origin-video{
  border: 2px solid #fff;
  height: 55vh;
  max-width: auto;
}

.newsfeed {
  border: 2px solid #000;
  height: auto;
  overflow-y: auto; /* Enables scrolling if content overflows */
  color: #000;
  text-align: center;
  max-width: 14vw;
  margin-top: 5px;
  margin-left: 3%;
  background-color: #fff;
}

.d-flex {
  display: flex;
  color: #fff;
  margin-left: 5px;
}

.suit-showcase, .timeline{
  border: 2px solid #fff;
  max-width: auto;
  text-align: center;
}

footer{
  color: #fff;
  background-color: #333333;
}

.row{
  margin-top: 10px;
}

.img-thumbnail{
  background-color: #414142;
  border: none;
}


@media (max-width: 1024px) {
  .logo {
    display: none;
}
}

#timeline_parallax{
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat:repeat;
  background-size: cover;
  background-image: url("../img/timeline.png");
}
