body {
  background-color: #414142;
  cursor: url('../img/cursor.png'), auto;
  width: 100vw;
  font-family: 'Agdasima', sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  max-width: 98%;
  margin-left: 1%;
}

@media (max-width: 1585px) {
  body {
    letter-spacing: 2px;
  }
}

a:hover {
  cursor: url('../img/cursor.png'), auto;
}

.banner {
  background-color: #414142;
  max-width: 90%;
}

img {
  width: 95%;
  height: 20vh;
}

h2,
h3,
h4 {
  font-family: 'Broadway', sans-serif;
  color: #fff;
}

hr {
  color: #000;
}

.card {
  background-color: #414142;
  margin-left: 20px;
  max-width: 90%;
  color: #fff;
  margin-bottom: 20px;
}

.card_button {
  background-color: #F0D755;
  padding: 10px;
  border-radius: 7px;
  text-decoration: none;
  color: #000;
}

.card_button:hover {
  background-color: #f0d6559f;
}

.logo {
  display: inline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding-left: 35%;
}

.nav-link {
  background-color: #414142;
  color: #fff;
}

.nav-link:hover {
  background-color: #F0D755;
}

.origin {
  height: auto;
  padding: 10px;
}

.origin-video {
  border: 2px solid #fff;
  height: 55vh;
  max-width: auto;
}

.origin-video>img {
  width: 100%;
  height: 100%;
}

.newsfeed {
  height: 100vh;
  overflow: scroll;
  color: #fff;
  text-align: center;
  max-width: 16vw;
  margin-top: 5px;
  margin-left: 3%;
  background-color: #333;
}

.d-flex {
  display: flex;
  color: #fff;
  margin-left: 5px;
}

.suit-showcase,
.timeline {
  border: 2px solid #fff;
  max-width: auto;
  text-align: center;
}

footer {
  color: #fff;
  background-color: #333333;
}

.row {
  margin-top: 10px;
}

.img-thumbnail {
  background-color: #414142;
  border: none;
}


@media (max-width: 1024px) {
  .logo {
    display: none;
  }
}

#timeline_parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-image: url("../img/timeline.png");
}

.contact {
  color: #fff;
}

.contact_form {
  padding: 20px;
  border-radius: 8px;
  width: 800px;
  text-align: center;
  justify-content: center;
  margin-left: 20%;
  background-color: #333;
}

.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form textarea
 {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

.suit_slideshow{
  position: relative;
  width: 100%;
  height: 370px;
  overflow: hidden;
}

.item{
  position: absolute;
  width: 200px;
  height: 320px;
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s;
  left: calc(50% - 110px);
  top: 0;
  color: #fff;
}

.item>img{
  height: 100%;
  width: 100%;
}

#next, #previous{
  position: absolute;
  top: 40%;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: xx-large;
  left: 50px;
}

#next{
  left: unset;
  right: 50px;
}